@font-face {
  font-family: 'BERNIER';
  src: url('../fonts/BERNIERRegular-Regular.woff2') format('woff2'),
      url('../fonts/BERNIERRegular-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BERNIER Distressed';
  src: url('../fonts/BERNIERDistressed-Regular.woff2') format('woff2'),
      url('../fonts/BERNIERDistressed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BERNIER Shade';
  src: url('../fonts/BERNIERShade-Regular.woff2') format('woff2'),
      url('../fonts/BERNIERShade-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
