.overlay
  .overlay__menu
    nav.main-menu
      ul.main-menu__list
        li.main-menu__item
          a(href="/works").main-menu__link.main-menu__link--active Мои работы
        li.main-menu__item
          a(href="/blog").main-menu__link Блог
        li.main-menu__item
          a(href="/about").main-menu__link Обо мне
        li.main-menu__item
          a(href="/").main-menu__link Авторизация