.flip-card {
  width: 300px;
  // perspective: 1200;
  transform-style: preserve-3d;

  position: relative;
  text-align: center;
  opacity: 0;
  perspective: 1200;
  transform-origin: top center;
  transform: perspective(600) rotateX(-40deg) translateY(-20px);
  transition: all .7s;

  @include tablet {
    width: 348px;
  }
  @include desktop {
    width: 380px;
  }

  &.loaded {
    opacity: 1;
    transform: perspective(1200) rotateX(0) translateY(0);
  }
}
.flip-card__inner {
  position: relative;
  width: 300px;
  height: 410px;
  transform-style: preserve-3d;
  transition: .4s linear;  
  @include tablet {
    width: 348px;
  }
  @include desktop {
    width: 380px;
  }
}

.flip-card__inner--active{
  transform: rotateY(180deg);
}

.flip-card__front, .flip-card__back {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card__front {
  z-index: 2;
  transform: rotateY(0deg);
}

.flip-card__back {
  transform: rotateY(-180deg);
}

// .flip-card:hover .flip-card__inner{
//   transform: rotateY(180deg);
// }