.posts {
  width: 300px / 320px * 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;

  @include tablet {
    float: none;
    width: 720px / 768px * 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
  }

  @include desktop {
    width: auto;
    padding: 0;
  }
}

.posts__list {
  
}

.posts__item {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  padding-bottom: 25px; 
  border-bottom: 4px solid #f1f1f2;

  @include tablet {
    margin-bottom: 40px;
    padding-bottom: 50px;
  }

  @include desktop {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    padding-bottom: 70px;
    border-bottom: 5px solid #f1f1f2;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
  }
}

.post {
  margin: 0;
  padding: 0;
}

.post__title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 21px;
  line-height: 28px;
  @include bernier(regular);
  color: #455a64;

  @include tablet {
    font-size: 30px;
    line-height: 36px;
  }

  @include desktop {
    margin-bottom: 22px;
    font-size: 35px;
    line-height: 41px;
  }
} 

.post__date {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  @include roboto(regular);
  color: $white-green;

  @include tablet {
    font-size: 14px;
    line-height: 24px;
  }

  @include desktop {
    margin-bottom: 21 px;
    font-size: 16px;
    line-height: 24px;
  }
}

.post__text, p{
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  @include roboto(regular);
  color: #455a64;
  text-align: left;

  &:last-child {
    margin-bottom: 0;
  }

  @include desktop {
    font-size: 16px;
    line-height: 26px;
  }
}
