.scroll-parallax {
  height: 100%;
}

.scroll-parallax div {
  position: fixed;
  top: 0;
  transform: translate3d(0, 0, 0);
  height: 100%;
  width: 100%;
  background-position: center 40%;
  background-size: cover;
}

.scroll-parallax__layer:nth-child(1) {
  background-image: url("/images/parallax/layer_0.png"); }
.scroll-parallax__layer:nth-child(2) {
  background-image: url("/images/parallax/layer_1.png"); }
.scroll-parallax__layer:nth-child(3) {
  background-image: url("/images/parallax/layer_2.png"); }
.scroll-parallax__layer:nth-child(4) {
  background-image: url("/images/parallax/layer_3.png"); }
.scroll-parallax__layer:nth-child(5) {
  background-image: url("/images/parallax/layer_4.png"); }
.scroll-parallax__layer:nth-child(6) {
  background-image: url("/images/parallax/layer_5.png"); }
.scroll-parallax__layer:nth-child(7) {
  background-image: url("/images/parallax/layer_6.png"); }
.scroll-parallax__layer:nth-child(8) {
  background-image: url("/images/parallax/layer_7.png"); }
.scroll-parallax__layer:nth-child(9) {
  background-image: url("/images/parallax/layer_8.png"); }
.scroll-parallax__layer:nth-child(10) {
  background-image: url("/images/parallax/layer_9.png"); }