.wow {
  opacity: 0;
	position: relative;
}

.wow-blog {
  opacity: 0;
	position: relative;
}

.toFadeIn {
	animation: fadeIn 2s;
	animation-fill-mode: forwards;
}

.toFadeInUp {
  animation: fadeInUp 2s;
	animation-fill-mode: forwards;
}

.toCircle {
  opacity: 1;
  stroke-dasharray: 282.6 282.6;
}


@keyframes toTop {
	from {
		opacity: 0;
		bottom: -200px;
	}

	to {
		opacity: 1;
		bottom: 0;
	}
}